    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Want to start learning something new?</h2>
              <br/>
                <p>Here you can see previous projects I have contributed on over the course of my Computer Science journey.</p>
                <p>Please feel free to contact me at <a href="mailto:zacklacanna23@gmail.com">zacklacanna23@gmail.com</a></p>
                <br/>
              </div>
        </div>
    </section>
